$body-color: #000000;
$body-bg: #f7f7fa;
$lead-font-weight: 700;
$gray-800: #000000;
$navbar-dark-active-color: #ffffff;
$navbar-dark-hover-color: #ffffff;
$navbar-padding-y: 2.25rem;
$navbar-padding-x: 6rem;
$navbar-nav-link-padding-x: 1.75rem;
$card-border-width: 0;
